{% extends template.self %}

{% block javascript %}
{{ super() }}
<script type="text/javascript">var jd_union_unid = "1000357173", jd_ad_ids = "505:6",
    jd_union_pid = "CP2N77GVLBC1+oDdAxoAINmI1asEKgA=";
var jd_width = 960;
var jd_height = 90;
var jd_union_euid = "";
var p = "AhIAURlbFwISBGVEH0hfIlgRRgYlXVZaCCsfSlpMWGVEH0hfIkEGGT59eXNGNUAtRgUbbyNlKRRXdlFZF2sVAhUFURNSFgYRN1UaWhQAFgFVHVklMk1DCEZrXmwTNwpfBkgyEgNVHV8TAxEHVxxZFDITN2Ur";</script>
<script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>
<script>
    // 隐藏JD广告
    jdFrame = document.querySelector('iframe[src^="//u-x.jd.com/"]');
    if (jdFrame) {
        jdFrame.parentElement.style.display = 'none';
    }
</script>
{% endblock %}
